# Ignore Node Modules
/node_modules

# Ignore OSX FS Junk
.DS_Store
*/.DS_Store

# Ignore files with private data (for now)
settings.js
settings(private).js
ssl/server.cert
ssl/server.key

// Ignore backups
public/(v0.3-paper)
