<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Vegable | Garden like you know what you're doing</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicons/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/img/favicons/favicon.ico">
    <link rel="manifest" href="./assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/favicon-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="assets/lib/remodal/remodal.css" rel="stylesheet">
    <link href="assets/lib/remodal/remodal-default-theme.css" rel="stylesheet">
    <link href="assets/css/bootstrap-table.css" rel="stylesheet">
    <link href="assets/css/bootstrap-select.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">

  </head>


  <body class="has-sidemenu overflow-hidden-x">

    <!--===============================================-->
    <!--    Fancynav-->
    <!--===============================================-->
    <nav class="fancynavbar" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-xs='{"from":{"opacity":1,"y":-48},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
      data-zanim-trigger="scroll" data-exclusive="true">
      <div class="fancynavbar-togglerbar bg-black">
        <a class="fancynavbar-brand" href="/">
          <img class="fancynavbar-brand-img" src="./assets/img/logos/icon-white.svg" alt="" width="30" height="30" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll"
          />

          <!--You can use icon or text logo as well-->
          <!--<span class='fab fa-superpowers fs-3'></span>-->
          <!--<span class='logo-sparrow'>S</span>--></a>
        <div class="fancynavbar-toggler">
          <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}' data-zanim-trigger="scroll">
            <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
            <path id="path-middle" d="M20,32h30"></path>
            <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
          </svg>
        </div>
        <div class="fancynavbar-addon" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll">
          <a class="fancynavbar-addon-item" href="/signout">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 299.7 299.7" style="enable-background:new 0 0 299.7 299.7;" xml:space="preserve">
              <g>
                <path class="svg-white" d="M273.8,113.4H93.2c-4.5,0-8.1,3.6-8.1,8.1s3.6,8.1,8.1,8.1h180.6l-46.2,46.2c-3.2,3.2-3.2,8.1,0,11.3
                  c1.6,1.6,3.6,2.4,5.7,2.4c2,0,4-0.8,5.7-2.4l59.9-59.9v-2.4c0.4-0.8,0.8-2,0.8-3.2s-0.4-2-0.8-3.2v-2.4l-59.9-60.3
                  c-3.2-3.2-8.1-3.2-11.3,0c-3.2,3.2-3.2,8.1,0,11.3L273.8,113.4z"/>
                <path class="svg-white" d="M26.3,243h149.4c14.6,0,26.3-11.7,26.3-26.3v-38.5c0-4.5-3.6-8.1-8.1-8.1c-4.5,0-8.1,3.6-8.1,8.1v38.5
                  c0,5.7-4.5,10.1-10.1,10.1H26.3c-5.7,0-10.1-4.5-10.1-10.1V26.3c0-5.7,4.5-10.1,10.1-10.1h149.4c5.7,0,10.1,4.5,10.1,10.1v38.5
                  c0,4.5,3.6,8.1,8.1,8.1c4.5,0,8.1-3.6,8.1-8.1V26.3c0-14.6-11.7-26.3-26.3-26.3H26.3C11.7,0,0,11.7,0,26.3v189.9
                  C0,231.3,11.7,243,26.3,243z"/>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="fancynavbar-collapse">
        <ul class="fancynavbar-nav">
          <li class="fancynav-item">
            <a class="fancynav-link" href="/zones"><span class="fancynav-link-content">zones</span></a>
          </li>
          <li class="fancynav-item">
            <a class="fancynav-link" href="/plantings"><span class="fancynav-link-content">plantings</span></a>
          </li>
          <li class="fancynav-item">
            <a class="fancynav-link" href="/events"><span class="fancynav-link-content">schedules</span></a>
          </li>
           <li class="fancynav-item">
            <a class="fancynav-link" href="/settings"><span class="fancynav-link-content">settings</span></a>
          </li>
       </ul>
      </div>
    </nav>
    <!--===============================================-->
    <!--    End of Fancynav-->
    <!--===============================================-->



    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main minh-100vh" id="top">


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-light pt-8 pb-7 pt-lg-6 pb-lg-5 pt-xl-8 pb-xl-7">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xl-5">
              <h1 class="fs-3 fs-sm-4">Dashboard</h1>
              <p class="lead">Productivity &amp; Resource Utilization</p>
            </div>
            <div class="col-lg-6 col-xl-5 text-lg-right">
              <canvas id="weatherIcon" width="64" height="64"></canvas>
              <p id="weatherString" class="lead"></p>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0">

        <div class="container">
          <h2 class="mt-4">5 Day Forecast</h2>
          <div class="row justify-content-between">
            <div class="col-lg-2 py-6">
              <h3 id="day0DateString" class"lead"></h3>
              <div class="row justify-content-between">
                <div class="col-lg-6 py-6">
		              <canvas id="day0WeatherIcon" width="64" height="64"></canvas>
                </div>
                <div class="col-lg-6 py-6">
                  <p id="day0LoTempString" class="lead"></p>
                  <p id="day0HiTempString" class="lead"></p>
                </div>
              </div>
              <h4 id="day0SummaryString" class="lead"></h4>
            </div>
            <div class="col-lg-2 py-6">
              <h3 id="day1DateString" class"lead"></h3>
              <div class="row justify-content-between">
                <div class="col-lg-6 py-6">
		              <canvas id="day1WeatherIcon" width="64" height="64"></canvas>
                </div>
                <div class="col-lg-6 py-6">
                  <p id="day1LoTempString" class="lead"></p>
                  <p id="day1HiTempString" class="lead"></p>
                </div>
              </div>
              <h4 id="day1SummaryString" class="lead"></h4>
            </div>
            <div class="col-lg-2 py-6">
              <h3 id="day2DateString" class"lead"></h3>
              <div class="row justify-content-between">
                <div class="col-lg-6 py-6">
		              <canvas id="day2WeatherIcon" width="64" height="64"></canvas>
                </div>
                <div class="col-lg-6 py-6">
                  <p id="day2LoTempString" class="lead"></p>
                  <p id="day2HiTempString" class="lead"></p>
                </div>
              </div>
              <h4 id="day2SummaryString" class="lead"></h4>
            </div>
            <div class="col-lg-2 py-6">
              <h3 id="day3DateString" class"lead"></h3>
              <div class="row justify-content-between">
                <div class="col-lg-6 py-6">
		              <canvas id="day3WeatherIcon" width="64" height="64"></canvas>
                </div>
                <div class="col-lg-6 py-6">
                  <p id="day3LoTempString" class="lead"></p>
                  <p id="day3HiTempString" class="lead"></p>
                </div>
              </div>
              <h4 id="day3SummaryString" class="lead"></h4>
            </div>
            <div class="col-lg-2 py-6">
              <h3 id="day4DateString" class"lead"></h3>
              <div class="row justify-content-between">
                <div class="col-lg-6 py-6">
		              <canvas id="day4WeatherIcon" width="64" height="64"></canvas>
                </div>
                <div class="col-lg-6 py-6">
                  <p id="day4LoTempString" class="lead"></p>
                  <p id="day4HiTempString" class="lead"></p>
                </div>
              </div>
              <h4 id="day4SummaryString" class="lead"></h4>
            </div>
          </div>
          
          <hr>

          <h2 class="mt-4">Resource Utilization</h2>
          <div class="row justify-content-between">
            <div class="col-lg-12 py-6">
		          <canvas id="overviewChart"></canvas>
              <div class="d-flex">
                  <div class="p-2"><button id="randomizeData" class="btn btn-sm btn-outline-dark">Randomize Data</button></div>
                  <div class="ml-auto p-2">
                    <button id="addZone" class="btn btn-sm btn-outline-dark">Add Zone</button>
                    <button id="removeZone" class="btn btn-sm btn-outline-dark">Remove Zone</button>
                  </div>
                  <div class="ml-auto p-2">
                    <button id="addData" class="btn btn-sm btn-outline-dark">Add Data</button>
                    <button id="removeData" class="btn btn-sm btn-outline-dark">Remove Data</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
		

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!--===============================================-->
    <!--    Footer-->
    <!--===============================================-->
    <footer class="footer bg-black text-600 py-4 text-sans-serif text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 order-lg-2">
            <a class="indicator indicator-up" href="#top" data-fancyscroll="data-fancyscroll"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span><span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span></a>
          </div>
          <div class="col-lg-4 text-lg-left mt-4 mt-lg-0">
            <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
              Copyright &copy; 2018 Vegable</p>
          </div>
          <div class="col-lg-4 text-lg-right order-lg-2 mt-2 mt-lg-0">
            <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Made with<span class="text-danger fas fa-heart mx-1"></span>by
              <a class="text-600" href="https://vegable.co/">Vegable</a>
            </p>
          </div>
        </div>
      </div>
    </footer>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/lib/loaders.css/loaders.css.js"></script>
    <script src="assets/js/stickyfill.min.js"></script>
    <script src="assets/lib/remodal/remodal.js"></script>
    <script src="assets/js/rellax.min.js"></script>
	  <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-select.js"></script>
    <script src="assets/js/skycons.js"></script>
    <script src="assets/js/Chart.bundle.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/bootstrap-table.js"></script>
          
    <script type="text/javascript">
      
      // ===============================================-->
      // TEST CHART CONTENT
      // ===============================================-->
      window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
      };

      (function(global) {
        var Months = [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
          'July',
          'August',
          'September',
          'October',
          'November',
          'December'
        ];

        var COLORS = [
          '#4dc9f6',
          '#f67019',
          '#f53794',
          '#537bc4',
          '#acc236',
          '#166a8f',
          '#00a950',
          '#58595b',
          '#8549ba'
        ];

        var Samples = global.Samples || (global.Samples = {});
        var Color = global.Color;

        Samples.utils = {
          // Adapted from http://indiegamr.com/generate-repeatable-random-numbers-in-js/
          srand: function(seed) {
            this._seed = seed;
          },

          rand: function(min, max) {
            var seed = this._seed;
            min = min === undefined ? 0 : min;
            max = max === undefined ? 1 : max;
            this._seed = (seed * 9301 + 49297) % 233280;
            return min + (this._seed / 233280) * (max - min);
          },

          numbers: function(config) {
            var cfg = config || {};
            var min = cfg.min || 0;
            var max = cfg.max || 1;
            var from = cfg.from || [];
            var count = cfg.count || 8;
            var decimals = cfg.decimals || 8;
            var continuity = cfg.continuity || 1;
            var dfactor = Math.pow(10, decimals) || 0;
            var data = [];
            var i, value;

            for (i = 0; i < count; ++i) {
              value = (from[i] || 0) + this.rand(min, max);
              if (this.rand() <= continuity) {
                data.push(Math.round(dfactor * value) / dfactor);
              } else {
                data.push(null);
              }
            }

            return data;
          },

          labels: function(config) {
            var cfg = config || {};
            var min = cfg.min || 0;
            var max = cfg.max || 100;
            var count = cfg.count || 8;
            var step = (max - min) / count;
            var decimals = cfg.decimals || 8;
            var dfactor = Math.pow(10, decimals) || 0;
            var prefix = cfg.prefix || '';
            var values = [];
            var i;

            for (i = min; i < max; i += step) {
              values.push(prefix + Math.round(dfactor * i) / dfactor);
            }

            return values;
          },

          months: function(config) {
            var cfg = config || {};
            var count = cfg.count || 12;
            var section = cfg.section;
            var values = [];
            var i, value;

            for (i = 0; i < count; ++i) {
              value = Months[Math.ceil(i) % 12];
              values.push(value.substring(0, section));
            }

            return values;
          },

          color: function(index) {
            return COLORS[index % COLORS.length];
          },

          transparentize: function(color, opacity) {
            var alpha = opacity === undefined ? 0.5 : 1 - opacity;
            return Color(color).alpha(alpha).rgbString();
          }
        };

        // DEPRECATED
        window.randomScalingFactor = function() {
          return Math.round(Samples.utils.rand(-3, 3));
        };

        // INITIALIZATION

        Samples.utils.srand(Date.now());

      }(this));
      // ===============================================-->
      // TEST CHART CONTENT
      // ===============================================-->
    
      
		var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var color = Chart.helpers.color;
		var barChartData = {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				label: 'Zone 1',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}, {
				label: 'Zone 2',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue,
				borderWidth: 1,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}]

		};

		window.onload = function() {
			var ctx = document.getElementById('overviewChart').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Water Additions / Depletions by Zone (inches)'
					}
				}
			});

		};

		document.getElementById('randomizeData').addEventListener('click', function() {
			var zero = Math.random() < 0.2 ? true : false;
			barChartData.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return zero ? 0.0 : randomScalingFactor();
				});

			});
			window.myBar.update();
		});

		var colorNames = Object.keys(window.chartColors);
      
		document.getElementById('addZone').addEventListener('click', function() {
			var colorName = colorNames[barChartData.datasets.length % colorNames.length];
			var dsColor = window.chartColors[colorName];
			var newZone = {
				label: 'Zone ' + (barChartData.datasets.length + 1),
				backgroundColor: color(dsColor).alpha(0.5).rgbString(),
				borderColor: dsColor,
				borderWidth: 1,
				data: []
			};

			for (var index = 0; index < barChartData.labels.length; ++index) {
				newZone.data.push(randomScalingFactor());
			}

			barChartData.datasets.push(newZone);
			window.myBar.update();
		});

		document.getElementById('addData').addEventListener('click', function() {
			if (barChartData.datasets.length > 0) {
				var month = MONTHS[barChartData.labels.length % MONTHS.length];
				barChartData.labels.push(month);

				for (var index = 0; index < barChartData.datasets.length; ++index) {
					// window.myBar.addData(randomScalingFactor(), index);
					barChartData.datasets[index].data.push(randomScalingFactor());
				}

				window.myBar.update();
			}
		});

		document.getElementById('removeZone').addEventListener('click', function() {
			barChartData.datasets.pop();
			window.myBar.update();
		});

		document.getElementById('removeData').addEventListener('click', function() {
			barChartData.labels.splice(-1, 1); // remove the label first

			barChartData.datasets.forEach(function(dataset) {
				dataset.data.pop();
			});

			window.myBar.update();
		});
	 </script>

    <script type="text/javascript">
      
     $().ready(function(){
        var skycons = new Skycons();
       
       // Current Conditions
        $.getJSON('/api/weather/get', (conditions) => {
          $('#weatherString').replaceWith(`<p id="weatherString" class="lead">${conditions.summary}, ${conditions.temperature.toFixed(1)}˚F</p>`);
          skycons.add("weatherIcon", conditions.icon);
          skycons.play();               
        });

       // Forecast Conditions
       $.getJSON('/api/forecast/get', (forecast) => {
         // No more that 5 days
         var forecastLength = forecast.length < 5 ? forecast.length : 5;
        for (var day = 0; day < forecastLength; day++) {
          var dateString = (day === 0 ? "Tomorrow" : moment.unix(forecast[day].time).format("dddd"));
          $(`#day${day}DateString`).replaceWith(`<h3 id="day${day}DateString" class="lead">${dateString}</h3>`);
          skycons.add(`day${day}WeatherIcon`, forecast[day].icon);
          $(`#day${day}LoTempString`).replaceWith(`<p id="day${day}LoTempString" class="lead">${forecast[day].temperatureLow.toFixed(1)}˚F</p>`);
          $(`#day${day}HiTempString`).replaceWith(`<p id="day${day}HiTempString" class="lead">${forecast[day].temperatureHigh.toFixed(1)}˚F</p>`);
          $(`#day${day}SummaryString`).replaceWith(`<h4 id="day${day}SummaryString" class="fs-0">${forecast[day].summary}</h4>`);
         }
      });
               
      });
     
	</script>

  </body>

</html>